<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sobre o sistema</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Pré-Requisitos</h5>
                <ul>
                    <li><a class="white-text" href="#!">AspNet Core MVC</a></li>
                    <li><a class="white-text" href="#!">Entity Framework Core</a></li>
                    <li><a class="white-text" href="#!">Identity</a></li>
                    <li><a class="white-text" href="#!">Testes com xUnit</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Referências</h5>
                <ul>
                    <li><a class="white-text" href="#!">Projeto no Github</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://github.com/dpcosta">Daniel Portugal</a>
        </div>
    </div>
</footer>
