
@{
    ViewData["Title"] = "Categoria";
}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h4>Leilões da categoria @ViewData["categoria"]</h4>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/painting1.jpg" width="300px">
                        <span class="card-title">Réplica de Pintura</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quae odio amet nisi facere tempore.
                        </p>
                    </div>
                    <div class="card-action center">
                        <a asp-controller="Home" asp-action="Detalhes">Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/carro1.jpg" width="300px">
                        <span class="card-title">Buick Antigo</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quae odio amet nisi facere tempore.
                        </p>
                    </div>
                    <div class="card-action center">
                        <a href="#">Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/instrumento1.jpg" width="300px">
                        <span class="card-title">Guitarra Special</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quae odio amet nisi facere tempore.
                        </p>
                    </div>
                    <div class="card-action center">
                        <a href="#">Detalhes</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/instrumento2.jpg" width="300px">
                        <span class="card-title">Piano Clássico</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quae odio amet nisi facere tempore.
                        </p>
                    </div>
                    <div class="card-action center">
                        <a href="#">Fazer Oferta</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

