@model LeilaoViewModel
@{
    ViewData["Title"] = "Novo Leilão";
}

<form class="container" asp-action="Novo" asp-controller="Leiloes" enctype="multipart/form-data">
    <h4>Inclusão de Leilão</h4>
    <div class="row">
        <div class="col s12 m8">
            <div class="card">
                <div class="card-content">
                    <h5 class="card-title">Informações básicas</h5>
                    <div class="input-field">
                        <input asp-for="Titulo" class="validate" />
                        <label asp-for="Titulo"></label>
                        <span class="helper-text msg-erro" asp-validation-for="Titulo"></span>
                    </div>
                    <!--div.input-field titulo-->
                    <div class="input-field">
                        <textarea asp-for="Descricao" class="validate materialize-textarea"></textarea>
                        <label asp-for="Descricao"></label>
                        <span class="helper-text msg-erro" asp-validation-for="Descricao"></span>
                    </div>
                    <!--div.input-field descricao-->
                    <div class="row">
                        <div class="input-field col s6">
                            <select asp-for="Categoria" class="browser-default">
                                <option value="" selected disabled>Escolha a categoria</option>
                                <option value="Automóveis">Automóveis</option>
                                <option value="Item de Colecionador">Item de Colecionador</option>
                                <option value="Arte e Pintura">Arte e Pintura</option>
                            </select>
                            <span class="helper-text msg-erro" asp-validation-for="Categoria"></span>
                        </div>
                        <!--div.input-field categoria-->
                        <div class="input-field col s6">
                            <input asp-for="ValorInicial" class="validate">
                            <label asp-for="ValorInicial"></label>
                            <span class="helper-text msg-erro" asp-validation-for="ValorInicial"></span>
                        </div>
                        <!--div.input-field valorInicial-->
                    </div>
                    <!--div.row-->
                </div>
                <!--div.card-content-->
                <div class="card-action">
                    <button type="submit" class="btn waves-effect waves-light z-depth-0"><i class="material-icons left">archive</i>Salvar</button>
                </div>
            </div>
            <!--div.card-->
        </div>
        <!--div.col1 infoBasica-->
        <div class="col s12 m4">
            <div class="card imagem">
                <div class="card-image file-field">
                    <img id="imgPoster" class="responsive-img" src="~/images/poster-vazio.png" />
                    <a class="btn-floating halfway-fab waves-effect waves-light">
                        <i class="material-icons">mode_edit</i>
                        <input asp-for="ArquivoImagem">
                    </a>
                </div>
                <!--div.card-image-->
                <div class="card-content">
                    <span class="msg-erro" asp-validation-for="ArquivoImagem">Nenhuma imagem definida.</span>
                </div>
                <!--div.card-content-->
            </div>
            <!--div.card-->
        </div>
        <!--div.col2 imagem-->
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Pregão</span>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" asp-for="InicioPregao" class="validate datepicker">
                            <label asp-for="InicioPregao"></label>
                            <span class="helper-text msg-erro" asp-validation-for="InicioPregao"></span>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" asp-for="TerminoPregao" class="validate datepicker">
                            <label asp-for="TerminoPregao"></label>
                            <span class="helper-text msg-erro" asp-validation-for="TerminoPregao"></span>
                        </div>
                    </div>
                </div>
                <!--div.card-content-->
            </div>
            <!--div.card-->
        </div>
        <!--div.col3 infoPregao-->
    </div>
    <!--div.row-->
        
</form>

